*{
   margin: 0;
   padding: 0;
   
}
section{
   width: 100%;
   height: 655px;
   display: flex;
}
.bg{
   width: 100%;
   height: 655px;
   background: url(../images/dasht.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 0 -117px;
   position: relative;
}
.ball{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: aliceblue;
   background: url(../images/ball.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
   top: 330px;
   left: 660px;
}
.goal{
   width: 1400px;
   height: 665px;
   background-color: rgb(20, 170, 0);
   color: white;
   font-size: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
}
